#!/bin/bash

# We do this so that your PERSONAL gitlab token is what gets used in any
# subfolder (./workspaces). Then tools like glab work without additional work
set -a # automatically export all variables
if [ -f .env ]; then
    source ./.env 2>/dev/null
fi
set +a
