# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv

# IDEs
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Terraform Ingest specific
repos/
output/

# Temp files
.DS_Store
*.log

# Hatch
.hatch/
_version.py

# app specific
output/
.env
site/
config.client.yaml
chromadb/
.ruff_cache/